name: Dotnet - Build

on:
  workflow_call:
    inputs:
      dotnet_version:
        required: false
        type: string
        default: "8.0.x"
        description: "The dotnet version to use"
      solution_name:
        required: true
        type: string
        description: "The project SLN file name to use"
      solution_configuration:
        required: false
        type: string
        description: "The project configuration to use"
        default: "Release"
      solution_version_suffix:
        required: false
        type: string
        description: "The project version suffix to use"
      code_coverage_threshold:
        required: false
        type: string
        description: "The code coverage threshold to use"
        default: "60 80"
      code_coverage_enabled:
        required: false
        type: boolean
        description: "Whether to enable code coverage reporting"
        default: true

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      issues: read
      checks: write
      pull-requests: write
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ inputs.dotnet_version }}

      - name: Build solution
        run: dotnet build ${{ inputs.solution_name }} --configuration ${{ inputs.solution_configuration }}

      - name: Unit tests
        run: >-
          dotnet test ${{ inputs.solution_name }}
          --no-build
          --configuration ${{ inputs.solution_configuration }}
          --settings .test-runsettings.xml
          --logger "trx"

      - name: Test Report - Unit Tests - Check Summary
        uses: dorny/test-reporter@v2.1.1
        if: always()
        with:
          name: Unit Tests Results
          path: TestResults/**/*.trx
          reporter: dotnet-trx

      - name: Test Report - Unit Tests - PR Annotation
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          files: TestResults/**/*.trx
          check_run: false # Use dorny test report
          job_summary: false # Use dorny test report

      - name: Combine Coverage Reports
        if: inputs.code_coverage_enabled
        uses: danielpalme/ReportGenerator-GitHub-Action@v5
        with:
          reports: "TestResults/**/*.cobertura.xml"
          targetdir: "${{ github.workspace }}/Coverage"
          reporttypes: "Cobertura"

      - name: Code Coverage Report
        if: inputs.code_coverage_enabled
        uses: irongut/CodeCoverageSummary@v1.3.0
        with:
          filename: Coverage/Cobertura.xml
          badge: true
          fail_below_min: true
          format: markdown
          hide_branch_rate: false
          hide_complexity: true
          indicators: true
          output: both
          thresholds: ${{ inputs.code_coverage_threshold }}

      - name: Add Coverage PR Comment
        uses: marocchino/sticky-pull-request-comment@v2
        if: github.event_name == 'pull_request' && inputs.code_coverage_enabled
        with:
          recreate: true
          path: code-coverage-results.md

      - name: Create Package
        if: ${{ !inputs.solution_version_suffix }}
        run: >-
          dotnet pack ${{ inputs.solution_name }}
          --configuration ${{ inputs.solution_configuration }}
          --output packages

      - name: Create Package with Suffix
        if: ${{ inputs.solution_version_suffix }}
        run: >-
          dotnet pack ${{ inputs.solution_name }}
          --configuration ${{ inputs.solution_configuration }}
          --output packages
          --version-suffix ${{ inputs.solution_version_suffix }}

      - name: Login to Github Packages
        run: >-
          dotnet nuget add source
          --username ${{ github.actor }}
          --password ${{ secrets.GITHUB_TOKEN }}
          --store-password-in-clear-text
          --name github
          "https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json"

      - name: Publish packages to Github Packages
        run: >-
          dotnet nuget push packages/*.nupkg
          --source github
          --skip-duplicate
