name: "Run-Docker-Command-Upload-Artifact"

on:
  workflow_call:
    inputs:
      image_url:
        required: true
        type: string
      workdir:
        required: true
        type: string
      env_django_settings_module:
        required: false
        type: string
      run_command:
        required: true
        type: string
      aws_credentials_enabled:
        required: false
        type: boolean
        default: false
      aws_account_id:
        required: false
        type: string
      aws_region:
        required: false
        type: string
      aws_github_role_name:
        required: false
        type: string
        default: "github_oidc_readonly"
      artifact_name:
        required: true
        type: string
      artifact_path:
        required: true
        type: string
      checkout_enabled:
        required: false
        type: boolean
        default: true
      vault_enabled:
        required: false
        type: boolean
        default: true
      vault_url:
        required: false
        type: string
      vault_github_actions_role:
        required: false
        type: string
      environment_name:
        required: false
        type: string
      tailscale_enabled:
        required: false
        type: boolean
        default: true
      vault_secrets:
        required: false
        type: string

jobs:
  run-docker:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      packages: read
      actions: write
      checks: write
    environment:
      name: ${{ inputs.environment_name }}
    container:
      image: ${{ inputs.image_url }}
      options: --user=root
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.github_token }}
      env:
        DJANGO_SETTINGS_MODULE: ${{ inputs.env_django_settings_module }}
        VAULT_ADDR: ${{ inputs.VAULT_URL || vars.VAULT_URL || vars.PULLREQUEST_VAULT_URL }}
        VAULT_GITHUB_ACTIONS_ROLE: ${{ inputs.vault_github_actions_role || vars.VAULT_GITHUB_ACTIONS_ROLE }}
        AWS_ACCOUNT_ID: ${{ inputs.AWS_ACCOUNT_ID || vars.AWS_ACCOUNT_ID || vars.PULL_REQUEST_AWS_ACCOUNT_ID }}
        AWS_REGION: ${{ inputs.AWS_REGION || vars.AWS_REGION || vars.AWS_DEFAULT_REGION }}
    steps:
      - name: Tailscale
        if: inputs.tailscale_enabled || inputs.vault_enabled
        uses: tailscale/github-action@v4
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:ci
          use-cache: true
          version: ${{ vars.TAILSCALE_VERSION }}

      - name: Check DNS Resolution for Vault
        if: inputs.vault_enabled
        run: |
          extract_domain() {
            echo "$1" | awk -F[/:] '{print $4}'
          }

          VAULT_DOMAIN=$(extract_domain "${{ env.VAULT_ADDR }}")

          for i in {1..100}; do
            if nslookup $VAULT_DOMAIN; then
              echo "DNS resolution successful"
              break
            else
              echo "DNS resolution failed, retrying in 10 seconds..."
              sleep 15
            fi
          done
          # Exit with error if DNS resolution fails after retries
          if ! nslookup $VAULT_DOMAIN; then
            echo "DNS resolution failed after multiple attempts"
            exit 1
          fi
        shell: bash

      - name: Import Secrets
        id: secrets
        if: inputs.vault_enabled
        uses: hashicorp/vault-action@v3
        with:
          url: ${{ env.VAULT_ADDR }}
          role: ${{ env.VAULT_GITHUB_ACTIONS_ROLE }}
          method: jwt
          path: "github-actions"
          exportToken: true
          secrets: |
            ${{ inputs.vault_secrets }}

      - name: Checkout
        if: ${{ inputs.checkout_enabled }}
        uses: actions/checkout@v6

      - name: Configure AWS Credentials
        if: inputs.aws_credentials_enabled
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-to-assume: arn:aws:iam::${{ env.AWS_ACCOUNT_ID }}:role/${{ inputs.aws_github_role_name }}

      - name: run-command
        working-directory: ${{ inputs.workdir }}
        run: ${{ inputs.run_command }}

      - name: upload
        uses: actions/upload-artifact@v6
        with:
          name: ${{ inputs.artifact_name }}
          path: ${{ inputs.workdir }}/${{ inputs.artifact_path }}
